<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkedinlist</key>
	<dict/>
	<key>checkedoutlist</key>
	<dict/>
	<key>lastmodpid</key>
	<integer>1707</integer>
	<key>lastmodtime</key>
	<real>613142917.89298904</real>
	<key>targetfilesize</key>
	<integer>52428800</integer>
	<key>targetsize</key>
	<integer>1073741824</integer>
</dict>
</plist>
